*{
    background-color: blanchedalmond;
}
.div{
    background-color: black;
    ;
    margin: 100px auto ;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 400px;
}
input{
    width: 200px;
    padding: 20px;
    background-color: antiquewhite;
}
button{
    padding: 20px;
    width: 100px;
    border-radius: 10px;

}